<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
     <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
     <script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
    var map = L.map('map-canvas').setView([43.471476, -80.543259], 8);
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
    {% for point in vertices %}
    L.marker([{{ point.x }}, {{ point.y }}]).addTo(map).bindPopup("{{ point.name }}")
    {%endfor%}
  var pointList =  [
    {% for point in path %}
    new L.LatLng({{point[0]}}, {{point[1]}}),
    {%endfor%}
    ];
    var firstpolyline = new L.polyline(pointList, {
color: 'red',
weight: 3,
opacity: 0.5,
smoothFactor: 1

});
    firstpolyline.addTo(map);
    });
    </script>
  </head>
  <body>
<div id="map-canvas"></div>
  </body>
</html>